@use '@/app/styles/variables' as *;

.ctaGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 64px;
  align-items: center;

  @include respond-to(lg) {
    grid-template-columns: 1fr;
    gap: 40px;
  }
}
